/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.blogShort {
    border-bottom: 1px solid #ddd;
}

.add {
    background: #333;
    padding: 10%;
    height: 300px;
}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}

    .nav-sidebar a {
        color: #333;
        -webkit-transition: all 0.08s linear;
        -moz-transition: all 0.08s linear;
        -o-transition: all 0.08s linear;
        transition: all 0.08s linear;
    }

    .nav-sidebar .active a {
        cursor: default;
        background-color: #34ca78;
        color: #fff;
    }

        .nav-sidebar .active a:hover {
            background-color: #37D980;
        }

    .nav-sidebar .text-overflow a,
    .nav-sidebar .text-overflow .media-body {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius: 0;
    margin-bottom: 10px
}

    .btn-blog:hover,
    .btn-blog:focus,
    .btn-blog:active,
    .btn-blog.active,
    .open .dropdown-toggle.btn-blog {
        color: white;
        background-color: #34ca78;
        border-color: #34ca78;
    }

h2 {
    color: #34ca78;
}

.margin10 {
    margin-bottom: 10px;
    margin-right: 10px;
}

article {
    display: block;
}



/* TIMELINE CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    position: relative;
}

.timeline {
    padding: 5px 0px;
    width: 95%;
    margin-left: 2px;
    margin-bottom: 5px;
}

    .timeline:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 50px;
        width: 3px;
        height: calc(100% - 80px);
        background: #c0392b;
    }

    .timeline .column {
        margin: 20px 20px 20px 73px;
    }

        .timeline .column .title h1 {
            font-size: 65px;
            color: rgba(0,0,0,0.2);
            font-family: serif;
            letter-spacing: 3px;
        }

            .timeline .column .title h1:before {
                content: "";
                position: absolute;
                left: -26px;
                top: 51px;
                width: 10px;
                height: 10px;
                background: #fff;
                border: 3px solid #c0392b;
            }

        .timeline .column .title h2 {
            margin-top: -60px;
            font-size: 33px;
            color: black;
            text-transform: uppercase;
            font-family: "Lato", sans-serif;
        }

        .timeline .column .description p {
            font-size: 17px;
            line-height: 20px;
            margin-left: 20px;
            margin-top: 10px;
            font-family: serif;
        }

        .timeline .column .description {
            border-left: 1px solid #000;
        }

.main {
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
}

    .main h1 {
        font-size: 80px;
        line-height: 60px;
    }

    .main p {
        font-size: 13px;
        line-height: 20px;
        font-family: serif;
        text-align: right;
    }

/* comment*/
.direct-chat-text {
    background: skyblue none repeat scroll 0 0;
    border: 1px dashed white;
    border-radius: 5px;
    color: #1f2121;
    padding: 10px 0px 10px 15px;
}

.doted-border {
    padding: 0;
    background: transparent none repeat scroll 0 0 !important;
    bottom: 0;
    content: "";
    margin: 0;
    top: 0;
    width: 2px;
    display: inline;
    z-index: -2;
}

@media screen and (min-width: 982px) {
  .habit-card {
    min-height: 300px;
    height: 340px;
    overflow-y: hidden;
    border-style: groove;
  }
}

@media screen and (max-width: 982px) {
  .habit-card {
    min-height: 200px;
    height: 200px;
    overflow-y: hidden;
    border-style: groove;
  }
}
