USE [master]
GO
/****** Object:  Database [MSSQLLocalDB]    Script Date: 6/22/2017 3:42:02 PM ******/
CREATE DATABASE [MSSQLLocalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MSSQLLocalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.AUMENTUM\MSSQL\DATA\MSSQLLocalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MSSQLLocalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.AUMENTUM\MSSQL\DATA\MSSQLLocalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSSQLLocalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSSQLLocalDB]
GO
USE [MSSQLLocalDB]
GO
/****** Object:  Table [dbo].[habits]    Script Date: 6/22/2017 3:42:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[habits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
